<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>404 Ёпта</h1>
    <h1>хуй там плавал, а не страница</h1>
    <img src="/public/img/dick.jpg" alt="">
</body>
</html>