<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <title>Login</title>
    <link rel="stylesheet" href="/public/css/login.css">
    <script src="/public/js/login.js"></script>
</head>
<body>
    <div class="wrapper">
        <nav class="navbar">
            <div class="links">
                <a href="http://localhost:3000/" class="main">Главная</a>
                <a href="#" class="clothes">Одежда</a>
                <a href="#" class="boots">Обувь</a>
                <a href="#" class="about">О магазине</a>
            </div>
            <div class="profile-pic">
                <a href="http://localhost:3000/login" class="login">Войти</a>
            </div>
        </nav>
        <div class="login-section">
            <div class="username">
                <div class="username-header">Логин</div>
                <input type="text" class="username-text">
            </div>
            <div class="password">
                <div class="password-header">Пароль</div>
                <input type="password" class="password-text">
            </div>
            <button class="submit" onclick="send()">Войти</button>
            <div class="registration">
                Нет аккаунта? <a href="http://localhost:3000/signup" class="registration-link">Зарегистрироваться</a>
            </div>
        </div>
    </div>
</body>
</html>